.wrapper{
    display:flex;
    width: 100%;
    .custom__btn{
        background-color: #fff;
        display: none;
        &:hover{
            background-color: var(--color-hover)
        }

        &.active{
            display: block;
        }
    }
    .input__form{
        $border-init: 999px;
        position: relative;
        display: flex;
        align-items:center;
        border-radius: $border-init;
        width: 100%;
        background-color: var(--gray-color);
        line-height: 2.2rem;
        z-index: 999;
    
        
    
        .icon{
            width: 3rem;
            height: 3rem;
            font-weight: 700;
            padding-left: 12px;
            transition: width 0.3s ease;
        }
    
        .input{
            font-size: 1.4rem;
            width: 100%;
            padding: 7px 12px 9px 8px;
            border-top-right-radius: $border-init;
            border-bottom-right-radius: $border-init;
            background-color: inherit;
    
            &.no_icon{
                border-top-left-radius: $border-init;
                border-bottom-left-radius: $border-init;
                padding-left: 12px;
            }
        }
    
    }
}