.button{
    border-radius: 100%;
    width: 40px;
    height: 40px;
    transition: all .3s linear;
    display: flex;
    align-items:center;
    justify-content:center;

    & ~ &{
        margin-left:10px;
    }

    &:is(a){
        background-color: rgb(240, 240, 240);
    }

    .icon{
        width:80%; 
        height:80%;
        &.full{
            top: 0;
            left: 0;
            overflow: hidden;
        }
        &.active{
            filter: var(--blue-svg-primary)
        }
    }
    
    &.sm{
        width: 36px;
        height: 36px;
    }
    &.no_background{
        background-color: transparent
    }

    &:hover{
        background-color: #E4E6EB;
    }
    &.active{
        background-color: var(--light-blue);
    }
}
