.list__chat {
    position: relative;
    $gutter: 10px;
    height: 100%;
    $height-bottom: 5em;

    .box__init {
        span {
            font-size: 3rem;
            font-weight: 700;
            color: #65676b;
        }
    }

    .box__chat {
        overflow: hidden;
        background-color: #fff;

        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 12px;
            height: 7vh;

            .header__left {
                display: flex;
                align-items: center;

                .info {
                    display: flex;
                    flex-direction: column;
                    margin-left: 10px;

                    span {
                        &:nth-child(1) {
                            font-size: 1.6rem;
                            font-weight: 700;
                        }

                        &:nth-child(2) {
                            display: flex;
                            align-items: center;
                            font-size: 1.4rem;
                            font-weight: 400;
                            color: #65676b;

                            div {
                                margin-left: 10px;
                            }
                        }
                    }
                }
            }

            .header__right {
                display: flex;
            }


        }

        .custom__body {
            max-height: 80vh;
            // min-height: 54em;

            // // responsive đoạn này
            // @media screen and (min-height: 600px) and (max-height: 1000px) {
            //     max-height: 57em;
            //     min-height: 57em;
            // }

            .list__message {
                padding: 0 18px;
            }

        }

        .footer {
            height: 7vh;
            width: 100%;
            display: flex;
            align-items: center;
            padding: 5px;

            .input__editor {
                width: 100%;

                [contenteditable=true] {
                    max-height: 130px;
                }
            }

            .icon__submit {
                cursor: no-drop;
                margin: 0 10px;
                transition: all .3s linear;

                &.active {
                    fill: #0084ff;
                    cursor: pointer;
                }
            }
        }
    }

}

// }