@keyframes react_animation{
    0% {
        animation-timing-function: cubic-bezier(.19,1,.22,1);
        transform: scale(1) rotate(0deg);
    }
    50% {
        animation-timing-function: cubic-bezier(.95,.05,.795,.035);
        transform: scale(1.24) rotate(-8deg);
    }
}

.box__newfeed{
    margin-bottom: 15px;

    &:first-child{
        margin-top: 15px;
    }

    &:last-child{
        margin-bottom: 0;
    }

    .header{
        padding: 12px 16px 0;
        margin-bottom: 12px;
        display:flex;
        justify-content:space-between;
        align-items: center;

        .header__left{
            display: flex;
            align-items: center;
            justify-content:flex-start;
            .avatar{
                margin-right: 8px;
            }

            .info{
                display: flex;
                flex-direction: column;
                .name__author{
                    span{
                        font-size:1.4rem;
                        font-weight: 600;
                    }
                }

                .time__created{
                    span{
                        font-size:1.2rem;
                        font-weight: 500;
                        margin-right: 8px;
                    }

                    .privacy_icon{
                        width:12px;
                        height:12px;
                    }
                }
            }
        }
    }

    .title{
        padding:4px 16px 16px;
        span{
            font-size:1.7rem;
            font-size: 500;
        }
    }

    .images{
        padding: 0 16px;

        img{
            width:100%;
            height: 400px;
            object-fit: cover;
            border-radius:8px;
            cursor: pointer;

            &:nth-child(4) {
                position: relative;
            } 
            
        }
        .layer__forth-pic{
            position: relative;
            width: 100%;
            height: 100%;
            background-color:transparent!important;
            cursor: pointer;
            &:after {
                content:"";
                position: absolute;
                width: 100%;
                height: 100%;
                background-color:#b8b8ba;
                opacity: 0.4;
                border-radius:8px;
                left: 0;
            }

            &:before {
                content:attr(remain-photo);
                position: absolute;
                left: 50%;
                top: 50%;
                color: #fefefe;
                transform: translate(-50%,-50%);
                font-size: 5rem;
                font-weight: 600;
            }
        }
        
        
    }

    .info__contact{
        display: flex;
        align-items:center;
        justify-content: space-between;
        margin: 0 16px;
        padding: 10px 0;
        border-bottom: 1px solid #b8b8ba;

        .info__react{
            display: flex;
            justify-content: flex-start;
            align-items: center;

            .info__list-icon{
                display: flex;
                .info__react-icon{
                    display: flex;
                    align-items: center;
                    width: 22px;
                    height: 22px;
                    border-radius:100%;
                    cursor: pointer;
                    background-color: #fff;
                    img{
                        margin: 0 auto;
                        width:18px;
                        height: 18px;
                    }

                    &:nth-child(1){
                        z-index: 3;
                    }
                    &:nth-child(2){
                        z-index: 2;
                        margin-left: -8px;
                    }
                    &:nth-child(3){
                        z-index: 1;
                        margin-left: -8px;
                    }
                    
                }
            }

            .info__react-total{
                margin-left: 5px;
                font-size:1.6rem;
                color: #9b9c9f;
                cursor: pointer;

                &:hover{
                    text-decoration: underline;
                }
            }
        }

        .info__comment{
            margin-left: 5px;
            font-size:1.6rem;
            color: #9b9c9f;
            cursor: pointer;

            &:hover{
                text-decoration: underline;
            }
        }
    }

    .tools__contact{
        display: flex;
        align-items: center;
        margin: 0 12px;
        padding: 4px;

        &-text.active{
            font-size: 1.7rem;
        }
        .react,.comment,.send{
            display: flex;
            justify-content:center;
            align-items: center;
            height: 34px;
            text-align: center;
            font-size:1.5rem;
            padding:0 12px;
            font-weight: 600;
            flex: 1;
            cursor: pointer;
            transition: all 0.3s linear;

            &:hover{
                background-color: var(--color-hover);
            }
        }
        .tools__wrapper{
            padding: 6px 4px;
        }
        img.active{
            width:18px;
            height: 18px;
            animation: react_animation .5s linear;
        }

        &-icon{
            vertical-align: -0.25em;
            background-position: -62px -132px;
            -webkit-filter:  invert(39%) sepia(21%) saturate(200%) saturate(109.5%) hue-rotate(174deg) brightness(94%) contrast(86%);
        }

        &-icon.active{
            background-position: -42px -132px;
            -webkit-filter: invert(39%) sepia(57%) saturate(200%) saturate(200%) saturate(200%) saturate(200%) saturate(200%) saturate(147.75%) hue-rotate(202deg) brightness(97%) contrast(96%);
            animation: react_animation .2s linear;
        }

    }
    
}