.container{
    display:flex;

    .body{
        position: relative;
        display:flex;
        padding: 0 32px;
        flex-grow: 1;
        background-color: var(--gray-color);
        width: 100%;
        align-items: center;
        justify-content: center;
        margin-left: 360px;
        .body__page{
            width: 680px;
            position: absolute;
            top: calc(var(--height-header) + 30px);

        }    
        .friendview {
            padding: 0 10px;
            .box_container {
                border-radius: 8px;
                line-height: 20px;
                padding: 16px;
                box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 16px;
                .info_container {
                    display: flex;
                    align-items: center;
                    .avatar {
                        width: 60px;
                        height: 60px;
                        margin-right: 16px;
                        margin-bottom: 3px;
                        border-radius: 99px;
                    }
                    .name {
                        font-size: 17px;
                        font-weight: 600;
                        line-height: 20px;
                    }
                    .numFriend {
                        font-size: 15px;
                        color: #65676b;
                        line-height: 20px;
                        margin-top: 3px;
                    }
                }
                .button_container {
                    display: flex;
                    flex-direction: column;
                    .button {
                        margin: 3px 0;
                        color: #0064d1;
                        font-size: 15px;
                        font-weight: 600;
                        background-color: #ebf5ff;
                        width: 113px;
                        height: 36px;
                        border-radius: 6px;
                    }
                    .decline {
                        background-color: #e4e6eb;
                        color: black;
                        &:hover {
                            background-color: rgb(194, 201, 208);
                        }
                    }
                    .accept {
                        background-color: #0766ff;
                        color: white;
                        &:hover {
                            background-color: #1559c6;
                        }
                    }
                    // .unblock {
                    //     &:hover {
                    //         background-color: #dbe4ed;
                    //     }
                    // }
                    .view {
                        &:hover {
                            background-color: #dbe4ed;
                        }
                    }
                }
            }
        }
    }

    .left__sidebar{
        left: 0;
        background-color: var(--white-color);
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
        &-title{
            font-size: 24px;
            font-weight: 700;
            line-height: 28px;
            margin: 15px;
        }
        .devider {
            border-bottom: 1px solid #CED0D4;
            margin: 15px;
        }
        &-list{
            margin-top: 1.3rem;


        }
    }

}