.header{
    position: fixed;
    height: var(--height-header);
    width: 100%;
    background-color:var(--white-color);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    
    
    &__middle{
        height: 100%;
        ul{
            height:100%;
            display:flex;
            justify-content: center;
        }
    }

    &__right{
        position: relative;
        margin-right: var(--spacing-header);
        width: 220px;
        height: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
}