.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .right_content {
        @media only screen and (min-width: 900px) {
            width: 425px;
            margin-right: 8px;
        }
        .box_container {
            font-size: 15px;
            line-height: 20px;
            margin-bottom: 16px;
            padding: 15px 16px;
            .title {
                display: flex;
                justify-content: space-between;
                h2 {
                    font-weight: 700;
                    font-size: 20px;
                }
                .info {
                    font-size: 17px;
                    color: #65676b;
                    margin: 6px 0;
                }
                .link {
                    height: fit-content;
                    color: #216fdb;
                    font-size: 17px;
                    padding: 8px;
                    &:hover {
                        background-color: rgba(0, 0, 0, 0.05);
                        border-radius: 5px;
                    }
                    cursor: pointer;
                    text-decoration: none;
                }
            }
            .aboutme {
                padding: 13px 20px;
                text-align: center;
                border-bottom: 1px solid #CED0D4;
                
            }
            .info_container {
                padding: 8px 0;
                .info_item{
                    display: flex;
                    margin: 6px;
                    margin-left: -5px;
                    .icon {
                        padding: 6px;
                        img {
                            width: 20px;
                            height: 20px;
                            filter: var(--gray-svg-profile);
                        }
                    }
                    .content {
                        padding: 6px;
                        padding-top: 8px;
                        align-items: center;
                        .content_bold {
                            font-weight: 600;
                        }
                    }
                }
            }

            .friend_container {
                margin-top: 10px;
                justify-content: space-between;
                .friend_item {
                    // padding-left: 5px;
                    // padding-right: 5px;
                    margin-bottom: 12px;
                    .avatar {
                        border-radius: 8px;
                        width: 100%;
                    }
                    .name {
                        font-size: 13px;
                        font-weight: 600;
                        color: #050505;
                        height: 33px;
                        overflow: hidden;
                        line-height: 16px;
                    }
                }
            }
        }
        
    }
    
    .main_content {
        
        @media only screen and (min-width: 900px) {
            width: 590px;
            margin-left: 8px;
        }
        
    }
}
