@import 'normalize.css';

h1{
    color: red;
}

:root{
    --white-color: #fff;
    --gray-color: #f0f2f5;
    --blue-primary: #1b74e4;
    --color-hover: rgba(0, 0, 0, 0.05);
    --blue-svg-primary: invert(30%) sepia(70%) saturate(4759%) hue-rotate(206deg) brightness(104%) contrast(79%);
}

html{
    font-size:62.5%;
}

a[href]{
    text-decoration: none;
}

ul,li{
    list-style: none;
    padding: 0;
    margin: 0;
}

h1,h2,h3,h4,h5{
    padding:0;
    margin: 0;
}

button,input{
    border: 1px solid transparent;
    outline: none;
}
